@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes flash {
    0% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
    }
  }

  .animate-flash {
    animation: flash 0.3s ease-out;
  }
}

:root {
  /* VShot Theme Colors */
  --primary: #FC712B;
  --secondary: #FD9319;
  --dark: #1B1612;
  --light: #F3E9E7;
  --neutral: #E2D4C4;

  /* Default theme (Light mode) */
  --background: #F3E9E7;
  --foreground: #1B1612;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1B1612;
    --foreground: #F3E9E7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
