@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes flash {
    0% {
      opacity: 0.9;
    }
    100% {
      opacity: 0;
    }
  }

  .animate-flash {
    animation: flash 0.3s ease-out;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
